.Card {
  flex: 1;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 1px 1px 3px red;
}

.Card:hover {
  cursor: pointer;
}

.Card img {
  width: 100px;
  height: 100px;
}
